body {
    background-color: rgb(19, 32, 36);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }
  
  h1.title {
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 75px;
  }

  h2 {
    color: #ffffff;
    text-align: left;
    font-weight: 500;
    font-size: 30px;
  }
  
  p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: rgb(255, 255, 255);
  }

  .error {
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: rgb(255, 0, 0);
  }

  p.separator {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: rgb(136, 136, 136);
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
  }

  .form-group label {
    color: rgb(136, 136, 136);
    text-align: left;
    font-weight: 300;
  }

  .form-group input[type=text], .form-group input[type=password] {
    color: rgb(201, 201, 201);
  }

  .form-group {
      margin-top: 20px;
  }

  .logo {
      margin-top: 20px;
  }

  .btn-primary {
    background-color: #b3edff;
    color: rgb(136, 136, 136);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-top: 20px;
    border-radius: 35px;
    border: none;
    width: 100%;
    height: 45px;
  }

  .btn-secondary {
    background-color: #e2e2e2;
    color: rgb(136, 136, 136);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    border-radius: 35px;
    border: none;
    width: 100%;
    height: 45px;
  }

  .form-group.buttons {
    text-align: center;
}

input[class=form-control] {
    width: 100%;
    height: 45px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(136, 136, 136);
    border-radius: 35px;
    background-color: rgb(19, 32, 36);
    resize: none;
  }

/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: rgb(34, 55, 61);
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-weight: 500;
  font-size: 30px;
}

.navbar .current{
  color: rgb(221, 204, 45);
}

/* Change background on mouse-over */
.navbar a:hover {
  background: none;
  color: rgb(221, 204, 45);
}

.container_page {
  margin-top: 200px;
}

.profile-pic {
  color: #f2f2f2;
}

.watchlist {
  margin-top: 75px;
}

/*Movie list*/

.movie_list .movie{
    margin-top: 20px;
    background-color: rgb(36, 67, 70);
}

.movie_list .item {
    color: #ffffff;
    font-weight: 500;
    font-size: 30px;
}

.movie_list .view {
    color: #949494;
    font-weight: 400;
    font-size: 20px;
}

.movie_list .rating {
    text-align: center;
    margin-top: 75px;
}

.movie_list .title {
    text-align: left;
    margin-top: 75px;
}

.movie_list a {
    text-decoration: none;
}

/*scroll menu explore*/
div.scrollmenu {
    background-color: rgb(34, 55, 61);
    overflow: auto;
    white-space: nowrap;
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  div.scrollmenu a:hover {
    background-color: rgb(64, 100, 92);
  }

  /*home page*/

  .home_list .item {
    color: white;
    float:left;
}

ul {
    list-style-type: none;
}

.home_list li.more.item {
    width: 240px;
    height: 160px;
    padding: 45px 65px;
    border: solid 1px #ffffff;
    background-color: rgb(47, 75, 80);
}

.home_list li.more.item a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 25px;
    text-align: center;
}

div.row.section {
    margin: 100px 0px;
}