<!DOCTYPE html>

<html>
    <body>
        <h1>Hello {{session["username"]}}</h1>
        Romance
        {% for row in mov_rom %}
        <img src="{{row[2]}}" width="500" height="600">
        <a>
            Name: {{row[1]}}
            Year: {{row[8]}}
            Views: {{row[10]}}
            Rating: {{row[11]}}
            
        </a>
        

        {% endfor %}

        <br>
        Sci-Fi

        {% for row in mov_sf %}
        <img src="{{row[2]}}" width="500" height="600">
        <a>
            Name: {{row[1]}}
            Year: {{row[8]}}
            Views: {{row[10]}}
            Rating: {{row[11]}}
            
        </a>
        
        {% endfor %}

        <br>
        Action
        {% for row in mov_act %}
        <img src="{{row[2]}}" width="500" height="600">
        <a>
            Name: {{row[1]}}
            Year: {{row[8]}}
            Views: {{row[10]}}
            Rating: {{row[11]}}
            
        </a>
       

        {% endfor %}

        <br>
        Adventure
        {% for row in mov_adv %}
        <img src="{{row[2]}}" width="500" height="600">
        <a>
            Name: {{row[1]}}
            Year: {{row[8]}}
            Views: {{row[10]}}
            Rating: {{row[11]}}
            
        </a>
       

        {% endfor %}
        

        <br>
        Horror
        {% for row in mov_hor %}
        <img src="{{row[2]}}" width="500" height="600">
        <a>
            Name: {{row[1]}}
            Year: {{row[8]}}
            Views: {{row[10]}}
            Rating: {{row[11]}}
            
        </a>
       

        {% endfor %}

        <br>
        Thriller
        {% for row in mov_thr %}
        <img src="{{row[2]}}" width="500" height="600">
        <a>
            Name: {{row[1]}}
            Year: {{row[8]}}
            Views: {{row[10]}}
            Rating: {{row[11]}}
            
        </a>
       

        {% endfor %}

        <br>
        Korean
        {% for row in mov_kor %}
        <img src="{{row[2]}}" width="500" height="600">
        <a>
            Name: {{row[1]}}
            Year: {{row[8]}}
            Views: {{row[10]}}
            Rating: {{row[11]}}
            
        </a>
       
        {% endfor %}
        <br>
        Japanese
        {% for row in mov_jp %}
        <img src="{{row[2]}}" width="500" height="600">
        <a>
            Name: {{row[1]}}
            Year: {{row[8]}}
            Views: {{row[10]}}
            Rating: {{row[11]}}
            
        </a>
       

        {% endfor %}

        <br>
        Anime
        {% for row in mov_ani %}
        <img src="{{row[2]}}" width="500" height="600">
        <a>
            Name: {{row[1]}}
            Year: {{row[8]}}
            Views: {{row[10]}}
            Rating: {{row[11]}}
            
        </a>
       

        {% endfor %}
    </body>


</html>